body {
    background: yellow;
    overflow-x: hidden;
    margin: auto auto;
    
}

header{
    display: block;
    width: 100%;
    height: 120px;
    background: white;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
 }

main {
    position: relative;
 }

ul {
    list-style-type: none;
    display: flex;
    float: right;
    margin-right: 115px;
 }

nav {
    display: block;
    margin-top: 40px;
 }

ul li a {
    text-decoration: none;
    color: rgb(122, 120, 120);
    font-family: 'Montserrat', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 9pt;
    text-transform: uppercase;
    letter-spacing: 1pt;
 }

ul li a :hover{
    font-weight: bold;
    color: black;
 } 


button {
        display: flex;
        margin: 0 auto;
        width: 250px;
        height: 50px;
        background: black;
        border: 0;
        border-radius: 5px; 
        margin-top: 50px;
        margin-bottom: 100px;
 }    

h1 span {
    position: absolute;
    color: white;
    font-size: 60pt;
    text-decoration: none;
    top: 395px;
	left: 115px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
 }

.logo{
    display: block;
    width: 30px;
    height: 45px;
    margin-top: 34px;
    margin-left: 115px;
    float:left;
 }

.menu{
    padding: 5px 15px;
}

.block-1{
    display: block;
    position: relative;
    background-image: url(https://static3.glucode.com/assets/hero-img-1024-e607bba599997e7fe358a34a60a27ada394fa9fd99ebe1bdd14c261f86e25cd5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 1200px;
}

.text-1{
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: rgb(3, 3, 3);
    font-size: 40pt;
    margin-left: 115px;
}

.text-2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #9b9b9b;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 0.8px;
    text-align: left;
    margin-left: 115px;
    margin-bottom: 80pt;
}

.col-3 {
    height: 500px;
    width: 33,33%; 
    margin: 0;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.col-3-text{
    color: black;
    font-size: 14pt;
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
   
    }
  
  .row {
   
      display: flex;
      flex-flow: row;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      margin-left: 60pt;
      margin-right: 60pt;
     }

.row-image {
        display: flex;
        flex-wrap: wrap;
    }

.row-text{
    margin-top: 50px;
   
    left: calc((100%-1200px)/2);
    display: flex;
    flex-wrap: wrap;
}
 
.button-text{
    color: rgb(255, 255, 255);
    font-size: 14pt;
    font-weight: 600;
    text-decoration: none;
    padding-left: 35px;
    padding-top: 7px;
    font-family: 'Montserrat', sans-serif;
    overflow:hidden;
   }

button .button-text-anime { 
        display: none; 
}
button:hover .button-text { 
    display: none; 
}
button:hover .button-text-anime { 
    display: inline; 
    color: rgb(255, 255, 255);
    font-size: 14pt;
    font-weight: 600;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    font-family: 'Montserrat', sans-serif;
    overflow:hidden;
}

.block-4{
background-image: url(https://static0.glucode.com/assets/featured-projects-1920-8181b4ef3bd6a6aaa5a65cc571505dc3b1188169c81652f55a8436ef813155d4.png),linear-gradient(290deg, #ffde58, #f4590b);
background-position: right;
background-repeat: no-repeat;
background-size: contain;
width: 100vw;
height: 700px !important;
position: relative;
}

.container{
    position: relative; 
 } 

.future-project-h1 {
    color: white;
    font-family: 'Montserrat';
    font-size: 35px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0.8px;
 }
    


.future-project-h6 {
    
    color: white;
    font-family: 'Montserrat';
    font-size: 19px;
    line-height: 1.71;
    letter-spacing: 0.4px;
    text-align: left;
    font-weight: 300;  
}

.future-button{
    display: block;
    width: 400px;
    margin-left: 115px;
   }

.button-text-white{
background: white;
    color: rgb(236, 88, 2);
    font-size: 14pt;
    font-weight: 600;
    text-decoration: none;
    padding-left: 35px;
    padding-top: 7px;
    font-family: 'Montserrat', sans-serif;
    overflow:hidden;
   }

button .button-text-white-anime { 
        display: none; 
}
button:hover .button-text-white { 
    display: none; 
}
button:hover .button-text-white-anime { 
    display: inline; 
    color: rgb(236, 88, 2);
    font-size: 14pt;
    font-weight: 600;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    font-family: 'Montserrat', sans-serif;
    overflow:hidden;
}

.block-5 {
    display: grid;
    grid-template-columns: repeat(4, calc((100%-340px)/4));
    grid-template-rows: repeat(2, 170px);
    grid-gap: 30px;
    grid-row-gap:30px;
   margin-left: 115px;
   margin-right: 115px;
   margin-bottom: 200px;
   }

.box-1 {
    background: rgb(235, 232, 232);
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
 }
 .box-2 {
    background: rgb(235, 232, 232);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
 }
 .box-3 {
    background: rgb(235, 232, 232);
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
 }
 .box-4 {
    background: rgb(235, 232, 232);
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
 }

 .box-5 {
    background: rgb(235, 232, 232);
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
 }
 .box-6 {
    background: rgb(235, 232, 232);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
 }
 .box-7 {
    background: rgb(235, 232, 232);
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    }
 .box-8 {
    background: rgb(235, 232, 232);
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
   }

   .box-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   }

   .row-text-1{
    margin-top: 50px;
    left: calc((100%-1200px)/2);
    display: flex;
    flex-wrap: wrap;
   }

   .text-1-1{
    font-family: 'Montserrat', sans-serif;
    color: rgb(3, 3, 3);
    font-size: 30pt;
    margin-left: 115px;
    text-size-adjust: center;
    margin: 0 auto;
    margin-top: 200px;
   }

   .text-2-1{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #9b9b9b;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 0.8px;
    margin-left: 300px;
    margin-right: 300px;
    }

    .row-text-1-1{
        background: rgb(235, 232, 232);
        margin-top: 50px;
        left: calc((100%-1200px)/2);
        display: flex;
        flex-wrap: wrap;
       
    }